@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  /* Storage */
  --color-brand-amazons3: #ed6d2d;
  --color-brand-amazons3-inverse: #fff;
  --color-brand-pinata: #6a58f6;
  --color-brand-pinata-inverse: #fff;

  /* Post */
  --color-brand-youtube: #ea333d;
  --color-brand-youtube-inverse: #fff;
  --color-brand-facebook: #2c64f6;
  --color-brand-facebook-inverse: #fff;
  --color-brand-instagram: #e9388e;
  --color-brand-instagram-inverse: #fff;
  --color-brand-threads: #0a0a0a;
  --color-brand-threads-inverse: #fff;
  --color-brand-bluesky: #3d83f7;
  --color-brand-bluesky-inverse: #fff;
  --color-brand-tiktok: #ea4459;
  --color-brand-tiktok-inverse: #fff;
  --color-brand-twitter: #000;
  --color-brand-twitter-inverse: #fff;
  --color-brand-farcaster: #7966bb;
  --color-brand-farcaster-inverse: #fff;
  --color-brand-lens: #2c2d30;
  --color-brand-lens-inverse: #fff;

  /* Spinner */
  /* ------------------------------------------------------------------------ */
  --animate-spin: spin 1s linear infinite;

  /* Dialog */
  /* ------------------------------------------------------------------------ */
  --animate-overlay-show: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-content-show: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);

  /* Dropdown Menu */
  /* ------------------------------------------------------------------------ */
  --animate-slide-down-and-fade: slide-down-and-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-and-fade: slide-left-and-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade: slide-up-and-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-and-fade: slide-right-and-fade 400ms cubic-bezier(0.16, 1, 0.3, 1);

  /* Navigation Menu */
  /* ------------------------------------------------------------------------ */
  --animate-scale-in: scale-in 200ms ease;
  --animate-scale-out: scale-out 200ms ease;
  --animate-fade-in: fade-in 200ms ease;
  --animate-fade-out: fade-out 200ms ease;
  --animate-enter-from-left: enter-from-left 250ms ease;
  --animate-enter-from-right: enter-from-right 250ms ease;
  --animate-exit-to-left: exit-to-left 250ms ease;
  --animate-exit-to-right: exit-to-right 250ms ease;

  /* Toast */
  /* ------------------------------------------------------------------------ */
  --animate-hide: hide 100ms ease-in;
  --animate-slide-in: slide-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-swipe-out: swipe-out 100ms ease-out;

  /* Spinner */
  /* ------------------------------------------------------------------------ */
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  /* Dialog */
  /* ------------------------------------------------------------------------ */
  @keyframes overlay-show {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes content-show {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }

    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  /* Dropdown Menu */
  /* ------------------------------------------------------------------------ */
  @keyframes slide-down-and-fade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-left-and-fade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-up-and-fade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-right-and-fade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Navigation Menu */
  /* ------------------------------------------------------------------------ */
  @keyframes enter-from-right {
    from {
      opacity: 0;
      transform: translateX(200px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes enter-from-left {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes exit-to-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(200px);
    }
  }

  @keyframes exit-to-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  @keyframes scale-in {
    from {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.9);
    }

    to {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }
  }

  @keyframes scale-out {
    from {
      opacity: 1;
      transform: rotateX(0deg) scale(1);
    }

    to {
      opacity: 0;
      transform: rotateX(-10deg) scale(0.95);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  /* Toast */
  /* ------------------------------------------------------------------------ */
  @keyframes hide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes swipe-out {
    from {
      transform: translateX(var(--radix-toast-swipe-end-x));
    }

    to {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
  }
}

/* Force Brand Color Styles in CSS Output */
@source inline("{group-data-[enabled=yes]:,data-[enabled=yes]:,}bg-brand-{amazons3,bluesky,facebook,farcaster,instagram,lens,pinata,threads,tiktok,twitter,youtube}");
@source inline("{group-data-[enabled=yes]:,data-[enabled=yes]:,}text-brand-{amazons3,bluesky,facebook,farcaster,instagram,lens,pinata,threads,tiktok,twitter,youtube}");
@source inline("{group-data-[enabled=yes]:,data-[enabled=yes]:,}text-brand-{amazons3,bluesky,facebook,farcaster,instagram,lens,pinata,threads,tiktok,twitter,youtube}-inverse");

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
