@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  /* Storage */
  --color-brand-amazons3: #ed6d2d;
  --color-brand-amazons3-inverse: #fff;
  --color-brand-pinata: #6a58f6;
  --color-brand-pinata-inverse: #fff;
  /* Post */
  --color-brand-youtube: #ea333d;
  --color-brand-youtube-inverse: #fff;
  --color-brand-facebook: #2c64f6;
  --color-brand-facebook-inverse: #fff;
  --color-brand-instagram: #e9388e;
  --color-brand-instagram-inverse: #fff;
  --color-brand-threads: #0a0a0a;
  --color-brand-threads-inverse: #fff;
  --color-brand-bluesky: #3d83f7;
  --color-brand-bluesky-inverse: #fff;
  --color-brand-tiktok: #ea4459;
  --color-brand-tiktok-inverse: #fff;
  --color-brand-twitter: #000;
  --color-brand-twitter-inverse: #fff;
  --color-brand-farcaster: #7966bb;
  --color-brand-farcaster-inverse: #fff;
  --color-brand-lens: #2c2d30;
  --color-brand-lens-inverse: #fff;
}

/* Storage */
@source inline("bg-brand-amazons3");
@source inline("data-[enabled=yes]:bg-brand-amazons3");
@source inline("data-[enabled=yes]:text-brand-amazons3");
@source inline("data-[enabled=yes]:text-brand-amazons3-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-amazons3");
@source inline("group-data-[enabled=yes]:text-brand-amazons3");
@source inline("group-data-[enabled=yes]:text-brand-amazons3-inverse");
@source inline("bg-brand-pinata");
@source inline("data-[enabled=yes]:bg-brand-pinata");
@source inline("data-[enabled=yes]:text-brand-pinata");
@source inline("data-[enabled=yes]:text-brand-pinata-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-pinata");
@source inline("group-data-[enabled=yes]:text-brand-pinata");
@source inline("group-data-[enabled=yes]:text-brand-pinata-inverse");
/* Post */
@source inline("bg-brand-youtube");
@source inline("data-[enabled=yes]:bg-brand-youtube");
@source inline("data-[enabled=yes]:text-brand-youtube");
@source inline("data-[enabled=yes]:text-brand-youtube-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-youtube");
@source inline("group-data-[enabled=yes]:text-brand-youtube");
@source inline("group-data-[enabled=yes]:text-brand-youtube-inverse");
@source inline("bg-brand-facebook");
@source inline("data-[enabled=yes]:bg-brand-facebook");
@source inline("data-[enabled=yes]:text-brand-facebook");
@source inline("data-[enabled=yes]:text-brand-facebook-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-facebook");
@source inline("group-data-[enabled=yes]:text-brand-facebook");
@source inline("group-data-[enabled=yes]:text-brand-facebook-inverse");
@source inline("bg-brand-instagram");
@source inline("data-[enabled=yes]:bg-brand-instagram");
@source inline("data-[enabled=yes]:text-brand-instagram");
@source inline("data-[enabled=yes]:text-brand-instagram-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-instagram");
@source inline("group-data-[enabled=yes]:text-brand-instagram");
@source inline("group-data-[enabled=yes]:text-brand-instagram-inverse");
@source inline("bg-brand-threads");
@source inline("data-[enabled=yes]:bg-brand-threads");
@source inline("data-[enabled=yes]:text-brand-threads");
@source inline("data-[enabled=yes]:text-brand-threads-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-threads");
@source inline("group-data-[enabled=yes]:text-brand-threads");
@source inline("group-data-[enabled=yes]:text-brand-threads-inverse");
@source inline("bg-brand-bluesky");
@source inline("data-[enabled=yes]:bg-brand-bluesky");
@source inline("data-[enabled=yes]:text-brand-bluesky");
@source inline("data-[enabled=yes]:text-brand-bluesky-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-bluesky");
@source inline("group-data-[enabled=yes]:text-brand-bluesky");
@source inline("group-data-[enabled=yes]:text-brand-bluesky-inverse");
@source inline("bg-brand-tiktok");
@source inline("data-[enabled=yes]:bg-brand-tiktok");
@source inline("data-[enabled=yes]:text-brand-tiktok");
@source inline("data-[enabled=yes]:text-brand-tiktok-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-tiktok");
@source inline("group-data-[enabled=yes]:text-brand-tiktok");
@source inline("group-data-[enabled=yes]:text-brand-tiktok-inverse");
@source inline("bg-brand-twitter");
@source inline("data-[enabled=yes]:bg-brand-twitter");
@source inline("data-[enabled=yes]:text-brand-twitter");
@source inline("data-[enabled=yes]:text-brand-twitter-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-twitter");
@source inline("group-data-[enabled=yes]:text-brand-twitter");
@source inline("group-data-[enabled=yes]:text-brand-twitter-inverse");
@source inline("bg-brand-farcaster");
@source inline("data-[enabled=yes]:bg-brand-farcaster");
@source inline("data-[enabled=yes]:text-brand-farcaster");
@source inline("data-[enabled=yes]:text-brand-farcaster-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-farcaster");
@source inline("group-data-[enabled=yes]:text-brand-farcaster");
@source inline("group-data-[enabled=yes]:text-brand-twitter-inverse");
@source inline("bg-brand-lens");
@source inline("data-[enabled=yes]:bg-brand-lens");
@source inline("data-[enabled=yes]:text-brand-lens");
@source inline("data-[enabled=yes]:text-brand-lens-inverse");
@source inline("group-data-[enabled=yes]:bg-brand-lens");
@source inline("group-data-[enabled=yes]:text-brand-lens");
@source inline("group-data-[enabled=yes]:text-brand-lens-inverse");

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
